<section class="text-center">
  <div class="font-black text-8xl mb-10">404</div>
  <h2 class="text-3xl text-center my-10">Oops! Not found 😥</h2>
  <div><%- error %> </div>
  <div class="my-10">
    <a
      href="<%- optsLink.url %> "
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg"
      ><%- optsLink.text %>
    </a>
  </div>
</section>
