<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.css"
      rel="stylesheet" />
    <title><%- title %></title>
  </head>
  <body class="flex flex-col min-h-screen">
    <%- include('../partials/header.ejs') %>
    <main class="container mx-auto px-2 py-10"><%- body %></main>
    <%- include('../partials/footer.ejs', {year}) %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
  </body>
</html>
